body{
    font-size: 40px;
    text-align: left;
    background-color: #1f2833;
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;


}

#Questions{
    color: white;

}
#nameId{
    color:#6000a1;
    position: relative;

    border-radius: 10px;

    height:70px;
    font-size: 40px;
    margin-left: 170px;

}

#submit{
    background: #B9DFFF;
    color: black;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #006797;
    text-shadow:none;

    position: relative;
    height:80px;
    left: 20px;
    font-size: 50px;


}


#submit:hover{
    background: #016ABC;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow:none;

}
#text{
    color:beige;
    font-size: 100px;
    text-shadow: 0 5px 0 #02a0c5,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
    font-weight:bold;
    text-align: center;
    margin-top: 400px;


}

#listItem{
    position: relative;
    width:500px;
    height:150px;
    font-size:50px;
    background: #B9DFFF;
    color: black;
    border: 1px solid #eee;
    border-radius: 20px;
    margin:30px;
}

#myInput{
    width:300px;
    height:70px;
    font-size:50px;
}
#skip{
    height: 90px;
    width: 150px;
    font-size: 40px;
    background: #B9DFFF;
    color: black;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #006797;
    text-shadow: none;
}
#true{

    height: 90px;
    width: 150px;
    font-size: 40px;
    background: #B9DFFF;
    color: black;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #006797;
    text-shadow: none;
}

#false{
    height: 90px;
    width: 150px;
    font-size: 40px;
    background: #B9DFFF;
    color: black;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #006797;
    text-shadow: none;
}
#mcq{
    height: 90px;
    width: 150px;
    font-size: 40px;
    background: #B9DFFF;
    color: black;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #006797;
    text-shadow: none;
}
#mcq1{

    height: 90px;
    width: 150px;
    font-size: 40px;
    background: #B9DFFF;
    color: black;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #006797;
    text-shadow: none;
}
#mcq2{

    height: 90px;
    width: 150px;
    font-size: 40px;
    background: #B9DFFF;
    color: black;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #006797;
    text-shadow: none;
}
#mcq3{
    height: 90px;
    width: 150px;
    font-size: 40px;
    background: #B9DFFF;
    color: black;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #006797;
    text-shadow: none;
}
#cookie{
    height: 90px;
    font-size: 40px;
    width:300px;
    background: #B9DFFF;
    color: black;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #006797;
    text-shadow: none;
}
#deleteCookie{
    height: 90px;

    font-size: 40px;
    width:300px;
    background: #B9DFFF;
    color: black;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #006797;
    text-shadow: none;
}

#score{
    font-size: 80px;
    color:#FC8B19;
    font-family: monospace;
    text-align: center;
    font-weight: bold;


}
#quessionNum{
    font-size:100px;
    color:#fbff00;
    font-family: fantasy;
    text-align: center;
}

#correctScore{
    font-size:60px;
    color:#FC8B19;
    font-weight:bold;
}
#allChallenges{
    color: blue;
    text-shadow: 0 5px 0 #02a0c5,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
    font-size: 90px;
    text-align: center;
    background-color:snow;
}

#question{
    font-size: 80px;
    text-align: center;
    font-family: fantasy;
}
#reload{
    height: 90px;
    font-size: 40px;
    width:300px;
    background: #B9DFFF;
    color: black;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #006797;
    text-shadow: none;

}

#error{
    font-size: 70px;
}
#table th{
    font-weight:bold;
}
#table td{
    color:black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

#leaderboard table{
    position:relative;
    left:90px;
    border: 5px solid black;
    background-color:#FC8B19;
}
#leaderboard table td{
    background-color: bisque;
}


#list {
    text-align: center;
}